  body{
    margin:0;
  }
  article {
    height: 450px;
    width: 100%;
    display: inline-block;
    border: 2px solid black;
  }

  @media (min-width: 600px) {
  .col1, .col2  {
  width: 45%;
  }
 
}
@media (min-width:768px){
  .col1, .col2, .col3{
        width: 32%;
  }
  
}
