body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e5e5e5;
}

section {
    width: 350px;
    height: 503px;
    background-color: #ffffff;
    margin: auto;
    margin-top: 50px;
    box-sizing: border-box;
    position: relative
}

.imagen {
    background-image: url(foto.jpeg);
    height: 322px;
    width: 350px;
    background-size: cover;  
    position: relative;
}

time {
    border: 2px solid #e74c3c;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    text-align: center;
    background-color: #e74c3c;
    color: #ffffff;
    right: 10px;
    top: 10px;
}

.fecha {
    position: relative;
    text-align: center;
    height: 50px;
    width: 50px;
    font-weight: 600;
    line-height: 30px;
}
.numero {
    position: absolute;
    font-size: 20px;
    top: 0;
    margin-left: -10px;
}

.mar {
    position: absolute;
    bottom: 0;
    margin-left: -15px;
    font-size: 12px;
}

.photos {
    color: #ffffff;
    font-size: 12px;
    font-weight: 800;
    text-align: center;
    line-height: 30px;
    background-color: #e74c3c;
    border: 2px solid #e74c3c;
    width: 80px;
    height: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
}

h2 {
    color: #333333;
    font-size: 25px;
    font-weight: 800;
    padding-left: 20px;
}

h3 {
    color: #e74c3c;
    font-size: 20px;
    padding-left: 20px;

}

p {
    color: #333333;
    font-size: 12px;
    line-height: 2;
    display: none;
}

footer {
    position: relative;
    left: 0;
    bottom: -30px;
    opacity:0.6;
}

.footer {
    font-size: 12px;
    padding-left: 5px;
 }

.fa-clock-o, .fa-comments-o {
    padding-left: 20px;
   }
 