.menu li{
    display: inline-block;
    position: relative;
    cursor: pointer;
}
#main-nav li{
    width: 120px;
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    }
.sub-menu{
    display:none;
    }
li:hover>.sub-menu{
    display:block;

}
.sub-menu {
    right:-1px;
    position: absolute;
    top: 28px;
}