@import "../../scss/common/variables.scss";

.story-sect {
    background-color: #1d140b;
    width: 100%;
    height: 920px;
    padding-top: 100px;
}

.brown-sect {

    height: 200px;
    padding-left: 200px;
}

.img-sect {
    width: 100%;
    height: 700px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}